@import './reset.css';
:root{
    font-size: 14px;
}
body{
    font-family: "Inter",sans-serif;
    background: hsl(0, 0%, 8%);
    /* background: wheat; */
    /* font-size: 14px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.285714285714286rem;
    
}
a{
    text-decoration: none;
}
img{
    border-radius: 50%;
    width: 7.142857142857143rem;
}

.container{
    box-sizing: border-box;
    width: 28.57142857142857rem;
    height: 46.42857142857143rem;
    /* margin: 0 auto; */
    background: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.142857142857143rem 1.785714285714286rem;
    border-radius: 0.7142857142857143rem;
}

h1{
    color: hsl(0, 0%, 100%) ;
    margin-top: 2.142857142857143rem;
    margin-bottom: 1.785714285714286rem;
    font-size: 1.5rem;
}

.subtitulo{
    color: hsl(75, 94%, 57%);
    margin-bottom: 2.5rem;
    font-weight: bold;
}

.formacao{
    color: hsl(0, 0%, 100%) ;
    margin-bottom: 2.142857142857143rem;
    font-weight: 200    ;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 1.428571428571429rem;
    /* justify-content: center;
    align-items: center; */
}

ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(0, 0%, 20%);
    /* width: 400px; */
    box-sizing: border-box;
    border-radius: 0.7142857142857143rem;
    
    /* height: 50px; */
    
}
ul a li{
    padding: 1.125rem 6rem;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}
ul a li:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

/* @media(max-width: 415px){
    :root{
        font-size: 14px;
    }
} */